$black : #000;
$white :#fff;
$gradient : linear-gradient(to right,#8490ff, #62bdfc, #8490ff);
$cute-blue: #8490ff;
$prettyblue : #eaeefd;
$gray : #aaa;
$lightgray : lighten($gray, 30%);

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*{
    box-sizing: border-box;
    
}

@mixin titletext{
    text-transform: uppercase;
    font-weight: bold;
}

@mixin titlefont {
    font-size : 15px;
    text-align: center;
}

@mixin desktop{
    @media screen and (min-width:750px){
        @content;
    }
}

body{
    font-family: 'Roboto';
}

header{
    background-image: url("img/home-banner.jpg");
    
    

    @include desktop(){
        width: 100%;
        height: 500px;
        overflow: hidden; 
    }
    
    .logo{
        @include titletext;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        @include desktop{
            background-color: transparent;
            width: 60%;
            float: left;
            font-size: 30px;
            text-align: left;
            height: 30px;
        }
    }

    .nav{
        width : 100%;

        @include desktop(){
            overflow:auto;
            width: 40%;
        }
    }

  
}

.nav__buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    @include desktop(){
        background-color: transparent;
        list-style-type: none;
        overflow: hidden;
        
    }

    li{
        float:left;
        font-size: 10px;
        width:33.33%;
       
        @include desktop(){
            float:left;
            margin: 0px;
            font-size: 10px;
            width : 15%;
        }

        a{
            display: block;
            color: $black;
            text-align : center;
            text-decoration: none;
            font-size:12px;
            margin : 10px;

            @include desktop(){
                padding : 0px;
                font-size:12px;
            }
        }


    }
}

.banner{
    width: 100%;
    overflow: hidden  ;

    .banner__image{
        width: 50%;
        float: left;
        height: 200px;
        overflow  : hidden;
        position: relative;
        display: block;
        

        @include desktop(){
            height : 450px;
            margin-top:20px;
        }
    

        img{
            width:60%;
            height:100%;
            margin: 0 20%;
            

            @include desktop(){
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }

        .name{
            font-size: 15px;
            margin: 5% 0px;
            width: 100%;
            @include titletext();

            @include desktop(){
                font-size: 40px;
                margin: 2% 0;
            }
        }
        
        .thisisme{
            font-size: 12px;
            margin-top: 15%;

            @include desktop(){
                font-size: 15px;
                margin-top: 20%; 
            }
        }
        
        .intro{
            font-size: 12px;
            margin: 5% 0px;
            width: 100%;
            color : $gray;

            @include desktop(){
                font-size: 20px;
                margin: 5px 0;
            }
        }

        #discover{
            background-image: $gradient;
            width: 80%;
            height: 10%;
            margin: 5% 0px;
            border-radius: 8px;
            border:none;
            font-size: 12px;
            color : $white;

            @include desktop(){
                width: 190px;
                height: 50px;
                margin: 30px 0px;
                font-size: 20px;
            }
        }
        

    }
}

.banner:after{
    content: "";
    display: table;
    clear: both;
}

.section-1{
    @include desktop(){
        padding: 5% 10% 5% 10%;
    }
    .section-1__head{
        margin: 20px 0 ;
        padding : 0;
        height: 30px;

        @include desktop(){
            
        }
        .title{
            text-align: left;
            font-size: 15px;
            margin: 1%;
            @include titletext();

            @include desktop(){
                font-size: 30px;
                margin: 0px; 
            }
        }
        
        .info{
            font-size: 12px;
            text-align: justify;
            margin: 1%;

            @include desktop(){
                font-size: 15px;
                margin: 10px;
            }
        }
    }
   
    .container-b{
        margin: 0px;
        overflow: hidden;
        @include desktop(){
            margin: 40px 0;
            display: block;
        }

    }

}

.column-1{

    float : left;
    width : 100%;
    height : 100px;
    margin : 5px;
    background-color:$white;
    border : 1px solid  $lightgray;
    text-align: left;

    @include desktop(){
        float: left;
        width: (1/3) * 93%;
        height: 150px;
        padding: 0;
        margin:10px;
        
    }
}

.bold{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 2% 20%;
    @include titletext();
    
    @include desktop(){
        margin: 0;
        padding: 0;
    }
}

.textb{
    font-size: 15px;
    color: $gray;
    margin: 10px 0px;
    padding: 0% 20%;

    @include desktop(){
        margin: 0;
        padding: 0;
    }
}

.ico{
    color: $gray;
    float: left;
    padding: 5% 20%;
    font-size: 40px;

    @include desktop(){
        float: none;
        padding: 0;
        font-size: 20px;
    }
}

.container-b:after {
    content: "";
    display: table;
    clear: both;
}


.section-2{
    padding: 2% 0;
    background-color: $prettyblue;

    @include desktop(){
        padding : 5% 10%;
    }

    .cen{
        @include titletext();
        @include titlefont();

        @include desktop(){
            font-size: 30px;
            
        }
    }

    .textcenter{
        font-size: 12px;
        text-align: center;
        color: $gray;

        @include desktop(){
            font-size: 15px;
        }
    }

    .container-c{
        overflow: hidden;
        width: 100%;

    }
}

.column-2{
    float: left;
    margin: 5px 10px;
    padding: 5px;
    background-color: $white;
    text-align: left;
    border: none;
    border-radius: 10px;
    width: 96%;
    
    @include desktop(){
        height : 280px;
        width : 1/3*90%;
        padding: 20px;
        padding-top: 50px;
        margin: 10px;
        border-radius: 3px;
        
    }

    .boldc{
        @include titletext();

        @include desktop(){
            font-size: 20px;
            margin: 20px 0;
        }
    }

    .textc{
        font-size: 12px;
        color: $gray;
        text-align: left;

        @include desktop(){
            font-size: 15px;
        }
    }

    .icco{
        color: $gray;
        font-size: 40px;
        float: right;
        margin: 20px;

        @include desktop(){
            float: none;
            margin: 30px;
        }
    }

}

.section-3{

    @include desktop(){
        margin: 5% 10%;
    }
    .cen{
        @include titletext();
        @include titlefont();

        @include desktop(){
            font-size: 30px;
            
        }
    }

    .textcenter{
        font-size: 12px;
        text-align: center;
        color: $gray;

        @include desktop(){
            font-size: 15px;
        }
    }

    .nav2{
        width:100%;
        margin: 5% 10%;

        @include desktop(){
            margin: 2% 32%;
        }

        .navigation2{
            background-color: transparent;          
            list-style-type:none;
            margin:0;
            padding: 0;
            overflow:auto;
        }
    }
}

.navigation2{
    overflow: hidden;
    li{
        display: block;
        float: left;

        a{
            color: #8490ff;
            text-align: center;
            text-decoration:$cute-blue; 
            padding: 5px 10px;
            font-size: 10px;
            
            @include desktop(){
                font-size: 20px;
            }
        }
    }
}

.container-d{
    width: 100%;
    overflow: hidden;

    .column-3{
        width: 31.33%;
        float:left;
        margin: 1%;
        position: relative;

        img{
            width: 100%;
            height: 100%;
           
            
        }

        .pixtitle{
            
            position: absolute;
            bottom: 20%;
            left : 3%;
            @include titletext();
        }

        .pictext{
            position: absolute;
            bottom: 10%;
            left : 3%;
            font-size: 15px;
        }

    }
}

footer{
    background-color: $black;
    color: $white;
    padding: 20px 5px;
    
    height: auto;
    overflow: hidden;

    @include desktop(){
        padding: 5% 10%;
        
    }
    
    .column-4a{
        width: 100%;
        float: left;

        @include desktop(){
            width : 50%;
            float: left;
            padding-right: 5%;
        }
               
    }

    .column-4b{
        width: 48%;
        float: left;   

        @include desktop(){
            width: 30%;
        }
    }

    .column-4c{
        width: 48%;
        float: left;
        padding-left: 15%;
        
        @include desktop(){
            width: 20%;
            padding-left: 0;
        }
    }


}

.titlefoot{
    @include titletext();
    @include titlefont();
    text-align: left;   

    @include desktop(){
        font-size: 20px;
    }
}

.texte{
    font-size : 12px;
    text-align: justify;
    @include desktop(){
        font-size: 15px;
        text-align: left;
                
    }
}

input[type= "email"]{
    font-size: 12px;
    width: 80%;
    height:30px;
    float:left;

    @include desktop(){
        width: 60%;
    }


}

.lnr-arrow-right{
    background-image: $gradient;
    padding:1px;
    color: $white;
    width: 10%;
    height : 30px;
    text-align: center;
    float:left;

    @include desktop(){
        width: 10%;
    }
}

.fab{
    color: white;
    font-size: 20px;
    width: 20px;
    padding-right: 40px;
}