body{
    background-image: url(/img/1681413.jpg);
    background-size: 103%;
}

.container{
    display: block;
    margin: 5rem auto;

    header, main{
        background-color: #9ff1ff;
        position: relative;
        width: 40%;
        height: 5rem;
        margin: 0 auto;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

        .search{
            position: absolute;
            left: 35%;
            top: 30%;
        }
    }

    main{
        margin: 2rem auto;
        height: 20rem;
        background-color: rgb(96, 210, 255);
        padding: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .city{
            flex-basis: 100%;
            height: 8rem;
            border: #111111 double 4px;
            border-radius: 5px;
        }

        .temperature,.humidity{
            flex-basis: 48%;
            height: 7rem;
            border: #111111 double 4px;
            border-radius: 5px;
            text-align: center;
            padding-top: 2rem;
            font-size: 20px;
            color: navy;
            text-transform: capitalize;
            font-weight: bold;
            
        }
        
        


    }
}

.city{
    
    .city-icon-holder{
        width: 100%;
        #cityname{
            font-size: 30px;
            text-align: center;
            text-transform: capitalize;
            margin-top: 2rem;
            font-weight: bold;
            color: navy;
            
        }

        img{
            display: block;
           margin: 0.5rem auto;
        }
    }
    
}

input[type = "text"]{
    border-radius: 5px;
    border: #111111 solid 1px;
    height: 1.5rem;
    width: 85%;
    font-size: 0.9rem;
    padding: 1%;
    color: darkblue;
    
}

