/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: hidden;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*MINE*/



.a{
    width: 100%;
    height: 610px;
    background-image: url("/img/home-banner.jpg");
    overflow: hidden;
    font-family: 'Roboto';    
}



.nav{
    overflow:auto;
    
}
.ron{
    background-color: transparent;
    width: 50%;
    float: left;
    margin: 40px;
    font-size: 30px;
    font-weight: bold;

}

ul{
    background-color: transparent;
    width :40%;    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navigation2{
    background-color: transparent;
    width: 1000px;
    
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:auto;
}

li{
    float:left;
    margin: 10px;
    font-size: 10px;
}

ul.navigation2  li{
    display: inline;
    margin: 10px;
    font-size:12px;

}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size:12px;
}

ul.navigation2 li    a{
    display: block;
    color: #8490ff;
    text-align: center;
    padding : 14px 16px;
    text-decoration: #62bdfc;
    
}

.nav2{
    margin-left: 230px;
    margin-right: 200px;
    width: 100%; 
    height: 50px;   
}



.aleft{
    float : left;
    width : 50%;
    
    
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aright{
    text-align: left;
    float: left;
    margin: 80px;
    
}

.intro{
    text-align: right;
    margin: 20px 0px;
}

.icco{
    color: rgb(200, 200, 200);
    font-size: 40px;
}

.ico{
    color: rgb(107, 163, 255);
    font-size: 20px;

}
  

#discover{
    background-image: linear-gradient(to right,#8490ff, #62bdfc, #8490ff);
    color: white;
    width: 190px;
    height: 50px;
    margin: 30px 0px;
    border-radius: 8px;
    border:none;
}

*{
    box-sizing: border-box;
}

.b{
    margin: 80px 200px;
    font-family: 'Roboto';
}

.bold{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}

.textb{
    font-size: 15px;
    color: #aaa;
}


.column-1{
    float: left;
    width: calc((1/3) * 93%);
    height: 150px;
    padding: 20px 20px;
    margin:10px;
    background-color:rgb(255, 254, 254);
    border: 1px solid #dfdcdc;
    text-align: left;
}

.container-b:after {
    content: "";
    display: table;
    clear: both;
}

.container-b{
    margin: 0x 0px;
    overflow: hidden;
}

.c{
    padding: 50px 200px;
    background-color: rgb(207, 244, 255);
    width: 100%;
    font-family: 'Roboto';
}

.column-2{
    float: left;
    width: calc((1/3) * 93%);
    height: 280px;
    padding: 20px 20px;
    margin: 10px;
    background-color:rgb(255, 255, 255);
    border: 1px solid #ffffff;
    text-align: left;
}

.container-c:after {
    content: "";
    display: table;
    clear: both;
}

.container-c{
    margin: 0x 0px;
    overflow: hidden;
}

.d{
    margin : 80px 200px;
    font-family: 'Roboto';
}

.column-3{
    float: left;
    position: relative;
    width: calc((1/3) * 93%);
    height: 280px;
    padding: 0px 0px;
    margin: 10px;
    background-color:#aaa;
    border: 1px solid #ffffff;
    text-align: left;
}

.container-d:after {
    content: "";
    display: table;
    clear: both;
}

.container-d{
    margin: 0x 0px;
    overflow: inherit;
}

.e{
    background-color: #000;
    width: 100%;
    height: 300px;
    padding: 50px 200px;
    overflow: hidden;
    font-family: 'Roboto';
}

.project{
    height: 100%;
    width: 100%;   
}

.pixtitle{
    position: absolute;
    bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    
}

.pictext{
    position: absolute;
    bottom:20px;
    margin-left: 20px;
    color: #aaa;
    font-size: 15px;
}



.column-ea{
    float: left;
    width: 50%;
    height: 150px;
    padding: 20px 20px;
    
    text-align: left;
    
    
}

.column-eb{
    float: left;
    width: 25%;
    height: 150px;
    padding: 20px 20px;
    
    text-align: left;
    
    
}
.column-ec{
    float: left;
    width: 15%;
    height: 150px;
    padding: 20px 20px;
    
    text-align: left;
    
    
}

.name{
    font-size: 40px;
    margin: 10px 0px;
}

.thisisme{
    font-size: 15px;
    margin: 5px 0;
}

.intro{
    font-size: 20px;
    margin: 5px 0px;
}

.titlefoot{
    font-size: 15px;
    color: #ffffff;
    margin: 20px 0px;
}

.iconslist{
    width: 100%;

}


.texte{
    font-size: 12px;
    color: #ffffff;
    text-align: justify;
    margin: 10px 0px;
    color: #aaa;
}

.title{
    text-align: left;
    font-size: 30px;
    margin: 10px;
}

.info{
    font-size: 15px;
    text-align: left;
    margin: 10px;
    
}


.cen{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.textcenter{
    text-align: center;
    font-size: 15px;
    margin: 15px;
    color: #aaa;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

.textc{
    text-align: left;
    color: #aaa;
    margin: 20px 0px;

}

.boldc{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}
 
input[type= "email"]{
    font-size: 12px;
    width: 80%;
    height:30px;
}

.lnr-arrow-right{
    background-image: linear-gradient(to right,#8490ff, #62bdfc, #8490ff);
    padding:1px;
    color: white;
    width: 20%;
    height : 30px;
    text-align: center;
    float:right;
}


.fab{
    color: white;
    font-size: 20px;
    width: 20px;
    padding-right: 40px;
}
